*{
    border: 1px solid orchid;
    margin: 0;
    padding: 0;
}

/*----- HEADER SECTION -------*/
header {
   text-align: center;
   background-image: url("./hyperspaceimg.jpg");
   background-position: center;
   background-color: #000;
   height: 200px;
   color: #fff;
}

/*----- MAIN SECTION -------*/

/*----- FORM -------*/
form {
    text-align: center;
    margin-bottom: 15px;
}

.char-name {
    margin-bottom: 15px;
}

/*----- CHAR STATS -------*/

.char-stats-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.char-img {
    margin-bottom: 10px;
    width: 50%;
    max-width: 200px;
}

.char-btn {
    margin-bottom: 5px;
}

/*--char/ship stats list--*/
ul {
    list-style: none;
    width: 50%;
    max-width: 200px;
}

/*----- SHIP STATS -------*/

.ship-stats-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.ship-img {
    margin-bottom: 10px;
    width: 50%;
    max-width: 200px;
}

.ship-btn {
    margin-bottom: 5px;
}

/*----- SHIP STATS -------*/

.homeworld-stats-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.home-img {
    margin-bottom: 10px;
    width: 50%;
    max-width: 200px;
}

.home-btn {
    margin-bottom: 5px;
}