*{
    border: 1px solid orchid;
    margin: 0;
    padding: 0;
}

/*----- HEADER SECTION -------*/
header {
   text-align: center;
   margin: 50px auto 30px auto;
   max-width: 700px;
}

/*----- MAIN SECTION -------*/

/*----- FORM -------*/
form {
    text-align: center;
    margin-bottom: 15px;
}

.char-name {
    margin-bottom: 15px;
}

/*----- CHAR STATS -------*/

.char-stats-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.char-img {
    margin-bottom: 10px;
}

/*--char stats button--*/
.char-stats {
    margin-bottom: 5px;
}

/*--char/ship stats list--*/
ul {
    list-style: none;
}

/*----- SHIP STATS -------*/

.ship-stats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.ship-img {
    margin-bottom: 10px;
}

.ship-btn {
    margin-bottom: 5px;
}